[submodule "click"]
	path = click
	url = https://github.com/lmarcuzzo/click
[submodule "osv"]
	path = osv
	url = https://github.com/lmarcuzzo/osv
[submodule "osv-dpdk"]
	path = osv-dpdk
	url = https://github.com/syuu1228/osv-dpdk
